<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{% endblock title %} - Final Auditing Project</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />

	<link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
	<div id="page">
		<main class="container" role="main">
				{% block content %}{% endblock content %}
		</main>
	</div>
	<script src="/static/js/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/static/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
	<script src="/static/js/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
	<script src="/static/js/page.js"></script>
	<script src="/static/js/Chart.min.js"></script>
	<script src="/static/js/vue-chartjs.min.js"></script>
	<script src="/static/js/vue.js" integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script>
	<script src="/static/js/main.js"></script>
</body>
</html>
