{% extends 'base.html' %}
{% block title %}Linux Logs{% endblock title %}
{% block content %}
<h2>Linux Logs</h2>
<h3>Linux Records Stats</h3>
<linux-records-chart v-cloak></linux-records-chart>
<linux-logs inline-template v-cloak class="router-logs">
	<div>
				<nav>
		<paginate
			:page-count="pages"
			:click-handler="paging"
			:prev-text="'Prev'"
			v-model="page"
			:next-text="'Next'"
			:prev-class="'page-item'"
			:next-class="'page-item'"
			:prev-link-class="'page-link'"
			:next-link-class="'page-link'"
			:container-class="'pagination justify-content-center'"
			:page-class="'page-item'"
			:page-link-class="'page-link'"
			>
			</paginate>
		</nav>
		<h3>Search</h3>
		<form class="form">
				<div class="form-group">
					<label for="date_time">Date Time</label>
					<input type="text" class="form-control" id="date_time" placeholder="9/9/2019 6:12:52 PM">
				</div>
				<div class="form-group">
					<label for="data">Data</label>
					<input type="text" class="form-control" id="data" placeholder="Try column tags and whatnot.">
				</div>
				<button @click="search" class="btn btn-success" type="button">Search</button>
				</form>
			<h3>Linux Logs Table: ((type)) Logs. ((total_records)) Logs</h3>
		<form class="form">
				<div class="form-group">
					<label for="log_type_filter">Select log types to show</label>
					<select @change="changeFilter($event)"class="form-control" id="log_type_filter">
						<option>AVC</option>
						<option>BPRM_FCAPS</option>
						<option>CONFIG_CHANGE</option>
						<option>CRED_ACQ</option>
						<option>CRED_DISP</option>
						<option>CRED_REFR</option>
						<option>DAEMON_START</option>
						<option>DAEMON_END</option>
						<option>DAEMON_ROTATE</option>
						<option>EXECVE</option>
						<option>KERN_MODULE</option>
						<option>LOGIN</option>
						<option>PATH</option>
						<option>PROCTITLE</option>
						<option>SERVICE_START</option>
						<option>SERVICE_STOP</option>
						<option>SYSCALL</option>
						<option>SYSTEM_BOOT</option>
						<option>SYSTEM_RUNLEVEL</option>
						<option>SYSTEM_SHUTDOWN</option>
						<option>USER_ACCT</option>
						<option>USER_AUTH</option>
						<option>USER_CMD</option>
						<option>USER_END</option>
						<option>USER_LOGIN</option>
						<option>USER_START</option>
					</select>
				</div>
			</form>
		<table class="table table-responsive">
			<thead>
				<tr v-if="type == 'AVC'">
				<th scope="col">Log ID</th>
				<th scope="col">Date Time</th>
				<th scope="col">Apparmor</th>
				<th scope="col">Comm</th>
				<th scope="col">Name</th>
				<th scope="col">Operation</th>
				<th scope="col">PID</th>
				<th scope="col">Profile</th>
				<th scope="col">Serial</th>
				</tr>
				<tr v-if="type == 'BPRM_FCAPS'">
				<th scope="col">Log ID</th>
				<th scope="col">Date Time</th>
				<th scope="col">Fe</th>
				<th scope="col">Fi</th>
				<th scope="col">Fp</th>
				<th scope="col">Fver</th>
				<th scope="col">Old_Pa</th>
				<th scope="col">Old_Pe</th>
				<th scope="col">Old_Pi</th>
				<th scope="col">Old_Pp</th>
				<th scope="col">Pa</th>
				<th scope="col">Pe</th>
				<th scope="col">Pi</th>
				<th scope="col">Pp</th>
				<th scope="col">Error</th>
				<th scope="col">Serial</th>
				<th scope="col">Text</th>
				</tr>
				<tr v-if="type == 'CONFIG_CHANGE'">
				<th scope="col">Log ID</th>
				<th scope="col">Date Time</th>
				<th scope="col">Audit Backlog Limit</th>
				<th scope="col">Audit Failure</th>
				<th scope="col">Audit ID</th>
				<th scope="col">Key</th>
				<th scope="col">List</th>
				<th scope="col">Old</th>
				<th scope="col">Op</th>
				<th scope="col">Res</th>
				<th scope="col">Ses</th>
				<th scope="col">Serial</th>
				</tr>
				<tr v-if="type == 'CRED_ACQ' || type =='CRED_DISP' || type == 'CRED_REFR'">
				<th scope="col">Log ID</th>
				<th scope="col">Date Time</th>
				<th scope="col">Acct</th>
				<th scope="col">Addr</th>
				<th scope="col">Auid</th>
				<th scope="col">Exe</th>
				<th scope="col">Grantors</th>
				<th scope="col">Hostname</th>
				<th scope="col">Op</th>
				<th scope="col">PID</th>
				<th scope="col">Res</th>
				<th scope="col">Ses</th>
				<th scope="col">Terminal</th>
				<th scope="col">UID</th>
				<th scope="col">Serial</th>
				</tr>
				<tr v-if="type == 'DAEMON_START'">
				<th scope="col">Log ID</th>
				<th scope="col">Date Time</th>
				<th scope="col">Auid</th>
				<th scope="col">Format</th>
				<th scope="col">Kernel</th>
				<th scope="col">Op</th>
				<th scope="col">PID</th>
				<th scope="col">Res</th>
				<th scope="col">Ses</th>
				<th scope="col">Subj</th>
				<th scope="col">UID</th>
				<th scope="col">Version</th>
				<th scope="col">Serial</th>
				</tr>
				<tr v-if="type == 'DAEMON_END'">
						<th scope="col">Log ID</th>
						<th scope="col">Date Time</th>
						<th scope="col">Auid</th>
						<th scope="col">Op</th>
						<th scope="col">PID</th>
						<th scope="col">Res</th>
						<th scope="col">Subj</th>
						<th scope="col">Serial</th>
				</tr>
				<tr v-if="type == 'DAEMON_ROTATE'">
						<th scope="col">Log ID</th>
						<th scope="col">Date Time</th>
						<th scope="col">Auid</th>
						<th scope="col">Op</th>
						<th scope="col">PID</th>
						<th scope="col">Subj</th>
						<th scope="col">Serial</th>
				</tr>
				<tr v-if="type == 'EXECVE'">
					<th scope="col">Log ID</th>
					<th scope="col">Date Time</th>
					<th scope="col">Execve</th>
					<th scope="col">Serial</th>
				</tr>
				<tr v-if="type == 'KERN_MODULE'">
						<th scope="col">Log ID</th>
						<th scope="col">Date Time</th>
						<th scope="col">Name</th>
						<th scope="col">Serial</th>
					</tr>
				<tr v-if="type == 'LOGIN'">
					<th scope="col">Log ID</th>
					<th scope="col">Date Time</th>
					<th scope="col">Auid</th>
					<th scope="col">Old-Auid</th>
					<th scope="col">Old-Ses</th>
					<th scope="col">PID</th>
					<th scope="col">Res</th>
					<th scope="col">Ses</th>
					<th scope="col">Tty</th>
					<th scope="col">Uid</th>
					<th scope="col">Serial</th>
				</tr>
				<tr v-if="type == 'PATH'">
						<th scope="col">Log ID</th>
						<th scope="col">Date Time</th>
						<th scope="col">Cap Fe</th>
						<th scope="col">Cap Fi</th>
						<th scope="col">Cap Fp</th>
						<th scope="col">Cap Fver</th>
						<th scope="col">Dev</th>
						<th scope="col">Inode</th>
						<th scope="col">Mode</th>
						<th scope="col">Name</th>
						<th scope="col">Name Type</th>
						<th scope="col">Ogid</th>
						<th scope="col">Ouid</th>
						<th scope="col">Rdev</th>
						<th scope="col">Serial</th>
					</tr>
					<tr v-if="type == 'PROCTITLE'">
							<th scope="col">Log ID</th>
							<th scope="col">Date Time</th>
							<th scope="col">Proctitle</th>
							<th scope="col">Serial</th>
					</tr>
					<tr v-if="type == 'SERVICE_START' || type == 'SERVICE_STOP'">
							<th scope="col">Log ID</th>
							<th scope="col">Date Time</th>
							<th scope="col">Addr</th>
							<th scope="col">Auid</th>
							<th scope="col">Comm</th>
							<th scope="col">Exe</th>
							<th scope="col">Hostname</th>
							<th scope="col">PID</th>
							<th scope="col">Res</th>
							<th scope="col">ses</th>
							<th scope="col">Terminal</th>
							<th scope="col">Uid</th>
							<th scope="col">Unit</th>
							<th scope="col">Serial</th>
					</tr>
					<tr v-if="type == 'SYSCALL'">
							<th scope="col">Log ID</th>
							<th scope="col">Date Time</th>
							<th scope="col">A0</th>
							<th scope="col">A1</th>
							<th scope="col">A2</th>
							<th scope="col">A3</th>
							<th scope="col">Arch</th>
							<th scope="col">Auid</th>
							<th scope="col">Comm</th>
							<th scope="col">Egid</th>
							<th scope="col">Euid</th>
							<th scope="col">Exe</th>
							<th scope="col">Exit</th>
							<th scope="col">FS Gid</th>
							<th scope="col">FS Uid</th>
							<th scope="col">Gid</th>
							<th scope="col">Items</th>
							<th scope="col">Key</th>
							<th scope="col">PID</th>
							<th scope="col">PPID</th>
							<th scope="col">Ses</th>
							<th scope="col">Sgid</th>
							<th scope="col">Success</th>
							<th scope="col">Suid</th>
							<th scope="col">Syscall</th>
							<th scope="col">Tty</th>
							<th scope="col">Uid</th>
							<th scope="col">Serial</th>
					</tr>
					<tr v-if="type == 'SYSTEM_BOOT' || type == 'SYSTEM_SHUTDOWN'">
							<th scope="col">Log ID</th>
							<th scope="col">Date Time</th>
							<th scope="col">Addr</th>
							<th scope="col">Auid</th>
							<th scope="col">Comm</th>
							<th scope="col">Exe</th>
							<th scope="col">Hostname</th>
							<th scope="col">PID</th>
							<th scope="col">Res</th>
							<th scope="col">Ses</th>
							<th scope="col">Terminal</th>
							<th scope="col">Uid</th>
							<th scope="col">Serial</th>
					</tr>
					<tr v-if="type == 'SYSTEM_RUNLEVEL'">
							<th scope="col">Log ID</th>
							<th scope="col">Date Time</th>
							<th scope="col">Addr</th>
							<th scope="col">Auid</th>
							<th scope="col">Comm</th>
							<th scope="col">Exe</th>
							<th scope="col">Hostname</th>
							<th scope="col">New Level</th>
							<th scope="col">Old Level</th>
							<th scope="col">PID</th>
							<th scope="col">Res</th>
							<th scope="col">Ses</th>
							<th scope="col">Terminal</th>
							<th scope="col">Uid</th>
							<th scope="col">Serial</th>
					</tr>
					<tr v-if="type == 'USER_ACCT' || type == 'USER_AUTH'">
							<th scope="col">Log ID</th>
							<th scope="col">Date Time</th>
							<th scope="col">Acct</th>
							<th scope="col">Addr</th>
							<th scope="col">Auid</th>
							<th scope="col">Exe</th>
							<th scope="col">Grantors</th>
							<th scope="col">Hostname</th>
							<th scope="col">Op</th>
							<th scope="col">PID</th>
							<th scope="col">Res</th>
							<th scope="col">Ses</th>
							<th scope="col">Terminal</th>
							<th scope="col">Uid</th>
							<th scope="col">Serial</th>
					</tr>
					<tr v-if="type == 'USER_CMD'">
							<th scope="col">Log ID</th>
							<th scope="col">Date Time</th>
							<th scope="col">Auid</th>
							<th scope="col">Cmd</th>
							<th scope="col">Cwd</th>
							<th scope="col">PID</th>
							<th scope="col">Res</th>
							<th scope="col">Ses</th>
							<th scope="col">Terminal</th>
							<th scope="col">Uid</th>
							<th scope="col">Serial</th>
					</tr>
					<tr v-if="type == 'USER_END' || type == 'USER_START'">
							<th scope="col">Log ID</th>
							<th scope="col">Date Time</th>
							<th scope="col">Acct</th>
							<th scope="col">Addr</th>
							<th scope="col">Auid</th>
							<th scope="col">Exe</th>
							<th scope="col">Grantors</th>
							<th scope="col">Hostname</th>
							<th scope="col">Op</th>
							<th scope="col">PID</th>
							<th scope="col">Res</th>
							<th scope="col">Ses</th>
							<th scope="col">Terminal</th>
							<th scope="col">Uid</th>
							<th scope="col">Serial</th>
					</tr>
					<tr v-if="type == 'USER_LOGIN'">
							<th scope="col">Log ID</th>
							<th scope="col">Date Time</th>
							<th scope="col">Acct</th>
							<th scope="col">Addr</th>
							<th scope="col">Auid</th>
							<th scope="col">Exe</th>
							<th scope="col">Hostname</th>
							<th scope="col">ID</th>
							<th scope="col">Op</th>
							<th scope="col">PID</th>
							<th scope="col">Res</th>
							<th scope="col">Ses</th>
							<th scope="col">Terminal</th>
							<th scope="col">Uid</th>
							<th scope="col">Serial</th>
					</tr>
			</thead>
		<tbody>
			<tr v-if="type == 'AVC'" v-for="log in logs">
				<th scope="row">((log.id))</th>
				<td>((log.date_time))</td>
				<td>
					<p v-for="avc_data in log.data.data.avc" >
						<b v-for="something in avc_data.apparmor">((something))</br></b>
					</p>
				</td>
				<td>
					<p v-for="avc_data in log.data.data.avc" >
						<b v-for="something in avc_data.comm">((something))</br></b>
					</p>
				</td>
				<td>
					<p v-for="avc_data in log.data.data.avc" >
						<b v-for="something in avc_data.name">((something))</br></b>
					</p>
				</td>
				<td>
					<p v-for="avc_data in log.data.data.avc" >
						<b v-for="something in avc_data.operation">((something))</br></b>
					</p>
				</td>
				<td>
					<p v-for="avc_data in log.data.data.avc" >
						<b v-for="something in avc_data.pid">((something))</br></b>
					</p>
				</td>
				<td>
					<p v-for="avc_data in log.data.data.avc" >
						<b v-for="something in avc_data.profile">((something))</br></b>
					</p>
				</td>
				<td>((log.data.serial))</td>
			</tr>
			<tr v-if="type == 'BPRM_FCAPS'" v-for="log in logs">
					<th scope="row">((log.id))</th>
					<td>((log.date_time))</td>
					<td><p v-for="something in log.data.data.bprm_fcaps.fe">((something))</p></td>
					<td><p v-for="something in log.data.data.bprm_fcaps.fi">((something))</p></td>
					<td><p v-for="something in log.data.data.bprm_fcaps.fp">((something))</p></td>
					<td><p v-for="something in log.data.data.bprm_fcaps.fver">((something))</p></td>
					<td><p v-for="something in log.data.data.bprm_fcaps.old_pa">((something))</p></td>
					<td><p v-for="something in log.data.data.bprm_fcaps.old_pe">((something))</p></td>
					<td><p v-for="something in log.data.data.bprm_fcaps.old_pi">((something))</p></td>
					<td><p v-for="something in log.data.data.bprm_fcaps.old_pp">((something))</p></td>
					<td><p v-for="something in log.data.data.bprm_fcaps.pa">((something))</p></td>
					<td><p v-for="something in log.data.data.bprm_fcaps.pe">((something))</p></td>
					<td><p v-for="something in log.data.data.bprm_fcaps.pi">((something))</p></td>
					<td><p v-for="something in log.data.data.bprm_fcaps.pp">((something))</p></td>
					<td>((log.data.error))</td>
					<td><p v-for="something in log.data.text">((something))</p></td>
					<td>((log.data.serial))</td>
				</tr>
				<tr v-if="type == 'CONFIG_CHANGE'" v-for="log in logs">
					<th scope="row">((log.id))</th>
					<td>((log.date_time))</td>
					<td><p v-for="something in log.data.data.config_change.audit_backlog_limit">((something))</p></td>
					<td><p v-for="something in log.data.data.config_change.audit_failure">((something))</p></td>
					<td><p v-for="something in log.data.data.config_change.auid">((something))</p></td>
					<td><p v-for="something in log.data.data.config_change.key">((something))</p></td>
					<td><p v-for="something in log.data.data.config_change.list">((something))</p></td>
					<td><p v-for="something in log.data.data.config_change.old">((something))</p></td>
					<td><p v-for="something in log.data.data.config_change.op">((something))</p></td>
					<td><p v-for="something in log.data.data.config_change.res">((something))</p></td>
					<td><p v-for="something in log.data.data.config_change.ses">((something))</p></td>
					<td>((log.data.serial))</td>
				</tr>
				<tr v-if="type == 'CRED_ACQ'" v-for="log in logs">
					<th scope="row">((log.id))</th>
					<td>((log.date_time))</td>
					<td><p v-for="something in log.data.data.cred_acq.acct">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_acq.addr">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_acq.auid">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_acq.exe">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_acq.grantors">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_acq.hostname">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_acq.op">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_acq.pid">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_acq.res">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_acq.ses">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_acq.terminal">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_acq.uid">((something))</p></td>
					<td>((log.data.serial))</td>
				</tr>
				<tr v-if="type == 'CRED_DISP'" v-for="log in logs">
					<th scope="row">((log.id))</th>
					<td>((log.date_time))</td>
					<td><p v-for="something in log.data.data.cred_disp.acct">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_disp.addr">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_disp.auid">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_disp.exe">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_disp.grantors">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_disp.hostname">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_disp.op">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_disp.pid">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_disp.res">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_disp.ses">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_disp.terminal">((something))</p></td>
					<td><p v-for="something in log.data.data.cred_disp.uid">((something))</p></td>
					<td>((log.data.serial))</td>
				</tr>
				<tr v-if="type == 'CRED_REFR'" v-for="log in logs">
						<th scope="row">((log.id))</th>
						<td>((log.date_time))</td>
						<td><p v-for="something in log.data.data.cred_refr.acct">((something))</p></td>
						<td><p v-for="something in log.data.data.cred_refr.addr">((something))</p></td>
						<td><p v-for="something in log.data.data.cred_refr.auid">((something))</p></td>
						<td><p v-for="something in log.data.data.cred_refr.exe">((something))</p></td>
						<td><p v-for="something in log.data.data.cred_refr.grantors">((something))</p></td>
						<td><p v-for="something in log.data.data.cred_refr.hostname">((something))</p></td>
						<td><p v-for="something in log.data.data.cred_refr.op">((something))</p></td>
						<td><p v-for="something in log.data.data.cred_refr.pid">((something))</p></td>
						<td><p v-for="something in log.data.data.cred_refr.res">((something))</p></td>
						<td><p v-for="something in log.data.data.cred_refr.ses">((something))</p></td>
						<td><p v-for="something in log.data.data.cred_refr.terminal">((something))</p></td>
						<td><p v-for="something in log.data.data.cred_refr.uid">((something))</p></td>
						<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'DAEMON_START'" v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.daemon_start.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_start.format">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_start.kernel">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_start.op">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_start.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_start.res">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_start.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_start.subj">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_start.uid">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_start.ver">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'DAEMON_END'" v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.daemon_end.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_end.op">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_end.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_end.res">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_end.subj">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'DAEMON_ROTATE'" v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.daemon_rotate.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_rotate.op">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_rotate.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.daemon_rotate.subj">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'EXECVE'" v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.execve">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'KERN_MODULE'" v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.kern_module.name">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'LOGIN'" v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.login.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.login['old-auid']">((something))</p></td>
							<td><p v-for="something in log.data.data.login['old-ses']">((something))</p></td>
							<td><p v-for="something in log.data.data.login.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.login.res">((something))</p></td>
							<td><p v-for="something in log.data.data.login.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.login.tty">((something))</p></td>
							<td><p v-for="something in log.data.data.login.uid">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'PATH'" v-for="log in logs" v-cloak>
						<th scope="row">((log.id))</th>
						<td>((log.date_time))</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.cap_fe">((something))</br></b>
							</p>
						</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.cap_fi">((something))</br></b>
							</p>
						</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.cap_fp">((something))</br></b>
							</p>
						</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.cap_fver">((something))</br></b>
							</p>
						</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.dev">((something))</br></b>
							</p>
						</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.inode">((something))</br></b>
							</p>
						</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.mode">((something))</br></b>
							</p>
						</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.name">((something))</br></b>
							</p>
						</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.nametype">((something))</br></b>
							</p>
						</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.ogid">((something))</br></b>
							</p>
						</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.ouid">((something))</br></b>
							</p>
						</td>
						<td>
							<p v-for="path_data in log.data.data.path" >
								<b v-for="something in path_data.rdev">((something))</br></b>
							</p>
						</td>
						<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'PROCTITLE'" v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.proctitle.proctitle">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'SERVICE_START' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.service_start.addr">((something))</p></td>
							<td><p v-for="something in log.data.data.service_start.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.service_start.comm">((something))</p></td>
							<td><p v-for="something in log.data.data.service_start.exe">((something))</p></td>
							<td><p v-for="something in log.data.data.service_start.hostname">((something))</p></td>
							<td><p v-for="something in log.data.data.service_start.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.service_start.res">((something))</p></td>
							<td><p v-for="something in log.data.data.service_start.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.service_start.terminal">((something))</p></td>
							<td><p v-for="something in log.data.data.service_start.uid">((something))</p></td>
							<td><p v-for="something in log.data.data.service_start.unit">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'SERVICE_STOP' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.service_stop.addr">((something))</p></td>
							<td><p v-for="something in log.data.data.service_stop.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.service_stop.comm">((something))</p></td>
							<td><p v-for="something in log.data.data.service_stop.exe">((something))</p></td>
							<td><p v-for="something in log.data.data.service_stop.hostname">((something))</p></td>
							<td><p v-for="something in log.data.data.service_stop.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.service_stop.res">((something))</p></td>
							<td><p v-for="something in log.data.data.service_stop.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.service_stop.terminal">((something))</p></td>
							<td><p v-for="something in log.data.data.service_stop.uid">((something))</p></td>
							<td><p v-for="something in log.data.data.service_stop.unit">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'SYSCALL' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.syscall.a0">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.a1">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.a2">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.a3">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.arch">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.comm">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.egid">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.euid">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.exe">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.exit">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.fsgid">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.fsuid">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.gid">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.items">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.key">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.ppid">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.sgid">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.success">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.suid">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.syscall">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.tty">((something))</p></td>
							<td><p v-for="something in log.data.data.syscall.uid">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'SYSTEM_BOOT' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.system_boot.addr">((something))</p></td>
							<td><p v-for="something in log.data.data.system_boot.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.system_boot.comm">((something))</p></td>
							<td><p v-for="something in log.data.data.system_boot.exe">((something))</p></td>
							<td><p v-for="something in log.data.data.system_boot.hostname">((something))</p></td>
							<td><p v-for="something in log.data.data.system_boot.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.system_boot.res">((something))</p></td>
							<td><p v-for="something in log.data.data.system_boot.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.system_boot.terminal">((something))</p></td>
							<td><p v-for="something in log.data.data.system_boot.uid">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'SYSTEM_RUNLEVEL' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.system_runlevel.addr">((something))</p></td>
							<td><p v-for="something in log.data.data.system_runlevel.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.system_runlevel.comm">((something))</p></td>
							<td><p v-for="something in log.data.data.system_runlevel.exe">((something))</p></td>
							<td><p v-for="something in log.data.data.system_runlevel.hostname">((something))</p></td>
							<td><p v-for="something in log.data.data.system_runlevel['new-level']">((something))</p></td>
							<td><p v-for="something in log.data.data.system_runlevel['old-level']">((something))</p></td>
							<td><p v-for="something in log.data.data.system_runlevel.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.system_runlevel.res">((something))</p></td>
							<td><p v-for="something in log.data.data.system_runlevel.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.system_runlevel.terminal">((something))</p></td>
							<td><p v-for="something in log.data.data.system_runlevel.uid">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'SYSTEM_SHUTDOWN' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.system_shutdown.addr">((something))</p></td>
							<td><p v-for="something in log.data.data.system_shutdown.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.system_shutdown.comm">((something))</p></td>
							<td><p v-for="something in log.data.data.system_shutdown.exe">((something))</p></td>
							<td><p v-for="something in log.data.data.system_shutdown.hostname">((something))</p></td>
							<td><p v-for="something in log.data.data.system_shutdown.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.system_shutdown.res">((something))</p></td>
							<td><p v-for="something in log.data.data.system_shutdown.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.system_shutdown.terminal">((something))</p></td>
							<td><p v-for="something in log.data.data.system_shutdown.uid">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'USER_ACCT' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.user_acct.acct">((something))</p></td>
							<td><p v-for="something in log.data.data.user_acct.addr">((something))</p></td>
							<td><p v-for="something in log.data.data.user_acct.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_acct.exe">((something))</p></td>
							<td><p v-for="something in log.data.data.user_acct.grantors">((something))</p></td>
							<td><p v-for="something in log.data.data.user_acct.hostname">((something))</p></td>
							<td><p v-for="something in log.data.data.user_acct.op">((something))</p></td>
							<td><p v-for="something in log.data.data.user_acct.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_acct.res">((something))</p></td>
							<td><p v-for="something in log.data.data.user_acct.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.user_acct.terminal">((something))</p></td>
							<td><p v-for="something in log.data.data.user_acct.uid">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'USER_AUTH' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.user_auth.acct">((something))</p></td>
							<td><p v-for="something in log.data.data.user_auth.addr">((something))</p></td>
							<td><p v-for="something in log.data.data.user_auth.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_auth.exe">((something))</p></td>
							<td><p v-for="something in log.data.data.user_auth.grantors">((something))</p></td>
							<td><p v-for="something in log.data.data.user_auth.hostname">((something))</p></td>
							<td><p v-for="something in log.data.data.user_auth.op">((something))</p></td>
							<td><p v-for="something in log.data.data.user_auth.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_auth.res">((something))</p></td>
							<td><p v-for="something in log.data.data.user_auth.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.user_auth.terminal">((something))</p></td>
							<td><p v-for="something in log.data.data.user_auth.uid">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'USER_CMD' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.user_cmd.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_cmd.cmd">((something))</p></td>
							<td><p v-for="something in log.data.data.user_cmd.cwd">((something))</p></td>
							<td><p v-for="something in log.data.data.user_cmd.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_cmd.res">((something))</p></td>
							<td><p v-for="something in log.data.data.user_cmd.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.user_cmd.terminal">((something))</p></td>
							<td><p v-for="something in log.data.data.user_cmd.uid">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'USER_END' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.user_end.acct">((something))</p></td>
							<td><p v-for="something in log.data.data.user_end.addr">((something))</p></td>
							<td><p v-for="something in log.data.data.user_end.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_end.exe">((something))</p></td>
							<td><p v-for="something in log.data.data.user_end.grantors">((something))</p></td>
							<td><p v-for="something in log.data.data.user_end.hostname">((something))</p></td>
							<td><p v-for="something in log.data.data.user_end.op">((something))</p></td>
							<td><p v-for="something in log.data.data.user_end.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_end.res">((something))</p></td>
							<td><p v-for="something in log.data.data.user_end.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.user_end.terminal">((something))</p></td>
							<td><p v-for="something in log.data.data.user_end.uid">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
					<tr v-if="type == 'USER_LOGIN' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.user_login.acct">((something))</p></td>
							<td><p v-for="something in log.data.data.user_login.addr">((something))</p></td>
							<td><p v-for="something in log.data.data.user_login.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_login.exe">((something))</p></td>
							<td><p v-for="something in log.data.data.user_login.hostname">((something))</p></td>
							<td><p v-for="something in log.data.data.user_login.id">((something))</p></td>
							<td><p v-for="something in log.data.data.user_login.op">((something))</p></td>
							<td><p v-for="something in log.data.data.user_login.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_login.res">((something))</p></td>
							<td><p v-for="something in log.data.data.user_login.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.user_login.terminal">((something))</p></td>
							<td><p v-for="something in log.data.data.user_login.uid">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>

					<tr v-if="type == 'USER_START' " v-for="log in logs">
							<th scope="row">((log.id))</th>
							<td>((log.date_time))</td>
							<td><p v-for="something in log.data.data.user_start.acct">((something))</p></td>
							<td><p v-for="something in log.data.data.user_start.addr">((something))</p></td>
							<td><p v-for="something in log.data.data.user_start.auid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_start.exe">((something))</p></td>
							<td><p v-for="something in log.data.data.user_start.grantors">((something))</p></td>
							<td><p v-for="something in log.data.data.user_start.hostname">((something))</p></td>
							<td><p v-for="something in log.data.data.user_start.op">((something))</p></td>
							<td><p v-for="something in log.data.data.user_start.pid">((something))</p></td>
							<td><p v-for="something in log.data.data.user_start.res">((something))</p></td>
							<td><p v-for="something in log.data.data.user_start.ses">((something))</p></td>
							<td><p v-for="something in log.data.data.user_start.terminal">((something))</p></td>
							<td><p v-for="something in log.data.data.user_start.uid">((something))</p></td>
							<td>((log.data.serial))</td>
					</tr>
		</tbody>
		</table>
	</div>
</linux-logs>
{% endblock content %}
